body {
	background-color: black !important;
	color: white;
}
.App {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	background-color: black !important;
}
/* users page */
.users table {
	border-collapse: collapse;
	width: 100%;
}
.users th,
td {
	text-align: left;
	padding: 8px;
}
.userLink {
	color: #badc58 !important;
}

.users tr:nth-child(even) {
	background-color: #f2f2f2;
}
/* posts page */
.posts {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.posts Link:hover {
	color: white;
}
.posts input {
	font-size: 20px !important;
}
.posts i {
	font-size: 20px !important;
}
.list {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
/* post css */
.post {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.post h3 {
	font-size: 25px;
}
.post p {
	font-size: 18px;
}
